@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
       ViewBag.ErrorMessage: @Html.Label(ViewData["Error"].ToString())
</hgroup>
<h2>

</h2>