
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="margin-top:25px;">
        <h1>ERROR</h1>
        <br/>
        We had trouble retreiving your data. Make sure this account has some! 
    </div>
</body>
</html>
